    <!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            @*<h3 class="display-4 text-white text-uppercase">Về chúng tôi</h3>*@
            <div class="d-inline-flex text-white">
                @if (ViewContext.RouteData.Values["action"].ToString() == "Contact")
                {
                    <p class="m-0 text-uppercase"><a class="text-white">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase" style="display: none;">Về chúng tôi</p>
                    <p class="m-0 text-uppercase">Liên hệ</p>
                }
                else if (ViewContext.RouteData.Values["action"].ToString() == "About")
                {
                    <p class="m-0 text-uppercase"><a class="text-white">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Về chúng tôi</p>
                }
                else if (ViewContext.RouteData.Values["action"].ToString() == "IndexBlog")
                {
                    <p class="m-0 text-uppercase"><a class="text-white">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Bài viết</p>
                }
                else if (ViewContext.RouteData.Values["action"].ToString() == "IndexShopTour")
                {
                    <p class="m-0 text-uppercase"><a class="text-white">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Sản phẩm</p>
                }
                else if (ViewContext.RouteData.Values["action"].ToString() == "DetailsBlog")
                {
                    <p class="m-0 text-uppercase"><a class="text-white">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Chi tiết bài viết</p>
                }
            else
            {

            }
           
            </div>
        </div>

    </div>
</div>
<!-- Header End -->
